#contact .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 3rem;
}

#contact .content .left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
}

#contact .content .left .infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1.8rem;
}

#contact .content .left .infos .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0.8rem;
}

#contact .content .left .infos .info h3 {
    font-size: 1rem;
    font-weight: 600;
}

#contact .content .left .infos .info p {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    user-select: text;
}

#contact .content .left .infos .info p a {
    color: #fff;
    text-decoration: none;
    user-select: text;
}

#contact .content .left #sendmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#contact .content .left #sendmail h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

#contact .content .left #sendmail .input {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}

#contact .content .left #sendmail .input label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

#contact .content .left #sendmail .input input {
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 50px;
    padding: 1rem;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

#contact .content .left #sendmail .input input:focus {
    outline: none;
}

#contact .content .left #sendmail .input input::placeholder {
    color: #fff;
}

#contact .content .left #sendmail .input textarea {
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 150px;
    padding: 1rem;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1rem;
    resize: none;
    max-height: 150px;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
}

#contact .content .left #sendmail .input textarea:focus {
    outline: none;
}

#contact .content .left #sendmail .input textarea::placeholder {
    color: #fff;
}

#contact .content .left #sendmail .input input[type="submit"] {
    height: 80px;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

#contact .content .left #sendmail .input input[type="submit"]:hover {
    background-color: #fff;
    color: #000;
    border: none;
}

#contact .content .left #sendmail .input input[type="submit"]:focus {
    outline: none;
}


#contact .content .right {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .content .right .social {
    width: 250px;
    height: 250px;
    margin-bottom: 1rem;
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .content .right .social a {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    perspective: 1000px;
}

#contact .content .right .social a:hover {
    transform: scale(1.1);
}

#contact .content .right .social a:hover::after,
#contact .content .right .social a:hover::before {
    content: '';
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 6px solid #fff; /* Épaisseur de la bordure */
    transition: all 0.3s ease-in-out;
    z-index: -1;
    animation: social 3s infinite linear;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Ajout d'une ombre portée */
    transform: (--transform-value);
}

@keyframes social {
    0% {
        transform: rotateY(0deg) rotateX(0deg) skew(0deg);
        border-color: blue; /* Couleur initiale */
    }

    25% {
        transform: rotateY(90deg) rotateX(90deg) skew(0deg);
        border-color: yellow; /* Couleur à 25% de l'animation */
    }
    
    50% {
        transform: rotateY(180deg) rotateX(180deg) skew(0deg);
        border-color: red; /* Couleur à 50% de l'animation */
    }

    75% {
        transform: rotateY(270deg) rotateX(270deg) skew(0deg);
        border-color: green; /* Couleur à 75% de l'animation */
    }

    100% {
        transform: rotateY(360deg) rotateX(360deg) skew(0deg);
        border-color: blue; /* Couleur à 100% de l'animation */
    }
}

@media screen and (max-width: 1024px) {
    #contact {
        height: fit-content;
    }
    #contact .content {
        flex-direction: column;
        padding: 0 1rem;
    }

    #contact .content .left {
        width: 100%;
        margin-bottom: 1rem;
    }

    #contact .content .right {
        width: 100%;
    }

    #contact .content .right {
        flex-direction: row;
        justify-content: space-around;
    }

    #contact .content .right .social {
        width: 15vw;
        height: 15vw;
        a {
            width: 15vw;
            height: 15vw;
        }
    }

    #contact .content .right .social a:hover::after,
    #contact .content .right .social a:hover::before {
        animation: none;
        display: none;
    }

}